<div class="shoutout-registration">
  <div class="col-lg-6 col-lg-offset-3 container">
    <img src="../../../assets/img/Shoutout_logo.png"/>
    <form (ngSubmit)="onSubmit($event)" [formGroup]="_registrationForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Email Address</label>
        <input type="email" class="form-control" placeholder="Email" id="email" formControlName="email">
        <control-messages [control]="this._registrationForm.controls.email"></control-messages>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Full Name</label>
        <input type="fullname" class="form-control" placeholder="Full Name" id="fullname" formControlName="fullName" >
        <control-messages [control]="this._registrationForm.controls.fullName"></control-messages>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" placeholder="Password" id="password" formControlName="password">
        <control-messages [control]="this._registrationForm.controls.password"></control-messages>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
        <control-messages [control]="this._registrationForm.controls.confirmPassword"></control-messages>
      </div>
      <button type="submit" class="btn btn-lg btn-default">Register</button>
      <div class="clearfix"></div>
      <a class="login" (click)="navigateToLogin()">Log-in</a>
    </form>
  </div>
</div>
