<div class="game-bg">
  <div class="portrait-mode" *ngIf="_isPortrait">
    <div class="iconContainer">
      <div class="phone"><i class="glyphicon glyphicon-repeat"></i></div>
      <p>Rotate your device on landscape mode</p>
    </div>
  </div>
  <div class='no-network'>
    <div class='container-wifi'>
      <div class="header_notice">
        <h1>Connected!</h1>
        <h3>Please click reload to play again!</h3>
      </div>
      <div class="header_notice_noconnection">
        <h1>Opps!!</h1>
        <!-- <h2>You cannot bet now!</h2> -->
      </div>
      <div class='divider'></div>
      <div class='wifi-background'>
        <div class="wifi-symbol">
          <div class="wifi-circle first"></div>
          <div class="wifi-circle second"></div>
          <div class="wifi-circle third"></div>
          <div class="wifi-circle fourth"></div>
        </div>
      </div>
      <div class='footer_notice_noconnection'>
        <h3>Your Internet Connection has been lost!</h3>
        <h4>Please check your connection to reconnect and try again.</h4>
      </div>
      <div class='footer_notice'>
        <div class='container_pulse'>
          <span class='pulse-button reload_button' (click)="reloadBtn();">Reload</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <Loader-Component *ngIf="_showLoader"></Loader-Component> -->

  <div class="ce-livedealer-main" *ngIf="!_isPortrait">
    <livedealer-roads *ngIf="_ifBaccarat"></livedealer-roads>
    <livedealer-chips *ngIf="_ifBaccarat"></livedealer-chips>
    <!-- <livedealer-dragon-tiger-chips *ngIf="_ifDragonTiger"></livedealer-dragon-tiger-chips> -->
    <livedealer-announcement></livedealer-announcement>
    <livedealer-summary-and-timer *ngIf="_ifBaccarat"></livedealer-summary-and-timer>
    <livedealer-lobby-canvas *ngIf="_ifBaccarat"></livedealer-lobby-canvas>
    <livedealer-lobby-chat></livedealer-lobby-chat>
    <livedealer-lobby-videostream></livedealer-lobby-videostream>
    <div class="ce-livedealer-ionic" id="ce-livedealer-ionic" *ngIf="_ifDragonTiger">

    </div>
  </div>
</div>
